{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/fevicon.png' %}" type="">

  <title> eEko RyDE </title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

  <!-- fonts style -->
  <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap' %}" >

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css' %}" />

  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  {% block css %}





</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid ">
          <div class="contact_nav">
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +91 9800000001
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                Email : eekoryde@gmail.in
              </span>
            </a>
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Location
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'index' %}">
              
              <span>
                eEko RyDE
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'password_change' %}">Change Password</a></li>
                  
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'service' %}">Service</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'contact' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cart' %}"> cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_logout' %}">LOGOUT</a>
                </li>
                {% else %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'contact' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'signup' %}">Signup</a>
                </li>

               
                {% endif %}
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    
                  </button>
                </form>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    
    <!-- end header section -->
    {% block body_block %}
    <!-- slider section -->
    <section class="slider_section ">
      <div class="slider_bg_box">
        <img src="{% static 'images/slider-bg.jpg' %}" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                      Ride to Where ever You Want.<br>When ever You Want 
                      
                    </h1>
                    {% if user.is_authenticated %}
                    <div class="btn-box">
                      <a href="{% url 'cart' %}" class="btn1">
                        Book Now
                      </a>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                      
                      Environmentally <br> Conscious: 
                    </h1>
                    <p>
                      Our fleet of electric bikes is designed to reduce carbon emissions, providing you with a green and sustainable transportation option. Join us in making a positive impact on the environment while enjoying the convenience of bike-sharing.
                    </p>
                    {% if user.is_authenticated %}
                    <div class="btn-box">
                      <a href="{% url 'cart' %}" class="btn1">
                        Book Now
                      </a>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                      
                      Community-Focused
                    </h1>
                    <p>
                      Join our community of riders who share a passion for sustainable living and efficient urban mobility. With eEko RyDE, you're not just taking a ride; you're contributing to a greener and more connected future.
                    </p>
                    {% if user.is_authenticated %}
                    <div class="btn-box">
                      <a href="{% url 'cart' %}" class="btn1">
                        Book Now  
                      </a>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>

  </div>




  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            RyDE<span> Explore</span>
          </h2>
        
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="box ">
              <div class="img-box">
                
                <img src="{% static 'images/s1.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Bike RyDE
                </h5>
                <p>
                  fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using
              </p>
              <input type="checkbox" value="Read More" class="show-more" id="show-more">
              <label for="show-more" class="read-more">Read More</label>
              <div class="expanded">
                <p>
                  As of my last knowledge update in January 2022, bike taxis were not officially legalized in Kerala, India. However, the status of regulations can change, and it's recommended to check the latest updates from reliable sources for the most current information.
            
                  As of my last update, bike taxis, which involve transporting passengers on motorcycles for hire, faced legal and regulatory challenges in various parts of India, including Kerala. Regulatory authorities were often concerned with issues such as safety, insurance, and adherence to transport laws.
                </p>
              </div>
            </div>
          </div>
         
        

      </div>
    </div>
  </section>









  <section class="track_section layout_padding">
    <div class="track_bg_box">
      
      <img src="{% static 'images/track-bg.jpg' %}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="heading_container">
            <h2>
              eEko RyDE Where you need to Explore...
            </h2>
          </div>
          <p>
            
As of my last update in January 2022, I don't have specific information about "eEko RyDE" in Kerala. If it's a bike taxi service, it would likely operate similarly to other bike taxi services, offering transportation services where users can book rides on motorcycles through a mobile app.

To get more details about eEko RyDE, please refer to their official website, app, or contact their customer support for the most accurate and up-to-date information. Additionally, check local news sources, social media, and user reviews for insights into the service's reliability and user experiences.
          </p>
          
        </div>
      </div>
    </div>
  </section>

  <!-- end track section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What Says Our <span>Client</span>
        </h2>
      </div>
      <div class="client_container">
        <div class="carousel-wrap ">
          <div class="owl-carousel">
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    eEko RyDE has set a new standard for efficiency in bike taxi services. The waiting times are notably shorter, and the real-time tracking feature ensures that I'm always aware of the location of my ride. This newfound efficiency has truly transformed my daily commuting experience.
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    
                    <img src="{% static 'images/c1.jpeg' %}" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                      Arjun
                    </h6>
                    <p>
                       Menon
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    
                    <img src="{% static 'images/c2.jpeg' %}" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                      Fathima 
                    </h6>
                    <p>
                      
                      Ashraf
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Transitioning from Uber Bike to eEko RyDE was seamless, thanks to the user-friendly app. The interface is clean and intuitive, making the booking process incredibly straightforward. Navigating through the app is a breeze, adding a level of convenience that enhances the overall experience.
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    
                    <img src="{% static 'images/c3.jpeg' %}" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                      Lily 
                    </h6>
                    <p>
                      James
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    The riders at eEko RyDE are not just skilled at navigating through traffic; they also prioritize professionalism and friendliness. I've consistently experienced a high level of service, feeling both safe and comfortable during my rides. The commitment to customer satisfaction is evident in every interaction.
                  </p>
                </div>
                
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </section>

  <!-- end client section -->
  {% endblock %}

  <!-- contact section -->
  <section class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="heading_container">
            <h2>
              Get in touch with us
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container contact-form">
            <form action="">
              <div>
                <input type="text" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="btn_box">
                <button>
                POST
                </button>
              </div>
            </form>
          </div>
        </div>
       
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 9800000001
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  eekoryde@gmail.in
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              Visit the official website of eEko RyDE. Companies usually provide detailed information about their services, coverage areas, and any special features on their websites.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="active" href="{% url 'index' %}">
                
                <img src="{% static 'images/nav-bullet.png' %}" alt="">
                Home
              </a>
              <a class="" href="{% url 'about' %}">
                
                <img src="{% static 'images/nav-bullet.png' %}" alt="">
                About
              </a>
              <a class="" href="{% url 'service' %}">
                
                <img src="{% static 'images/nav-bullet.png' %}" alt="">
                Services
              </a>
              <a class="" href="{% url 'contact' %}">
                <img src="{% static 'images/nav-bullet.png' %}" alt="">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reticent By
        <a href="https://html.design/">"eEko RyDE" </a>
      </p>
      {% endblock %}
    </div>
  </section>
  <!-- footer section -->

  <!-- jQery -->
  
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  
  <script src="{% static 'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
 
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js' %}">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
 


</body>

</html>