{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/s.css' %}">
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,1000&display=swap" rel="stylesheet">
    
    <title>Document</title>
    
<style>

    
</style>







       
</head>
<body>
    {% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-lg">

            
    <h1 style="margin-left: 190px; font-size: large;font-weight: 600; margin-top: 110px;">Thankyou for Choosing "eEko RyDE"</h1>
    <h2 style="margin-left: 190px; font-size: x-large;font-weight: 800;">Your ByKE is on the way to pickup you {{user}} </h2>
    
      
  <br>
  <br>
  <br>
    
<table>
    <tr>
        <th>PICK-UP SPOT</th>
        <th>DROP-OFF SPOT</th>
        <th>ByKE MoDEL</th>
        <th>DROPPING FEE</th>
      </tr>
  <tr>  
  <td>{{information.starting_location}}</td>
  <td>{{information.ending_location}}</td>
  <td>{{information.typey}}</td>
  <td>{{information.price}}</td>
  
</tr>
</table>
  

  <marquee behavior="" direction="left" scrollamount="20"><img src="ms.png" alt="" style="width: 30px;height: 30px;"></marquee>
  <marquee behavior="" direction="left" scrollamount="20"><img  src="s4.png" alt=""></marquee>
    
    
        
<hr style="width:100%;text-align:left;margin-left:0">
    
   
       
    <a style="color: #04233b;margin-left: 50px;margin-top: 30px;" href="{% url 'checkout' %}">Change Destination</a>
    
    <a style="color: #04233b; margin-left: 1730px;" href="{% url 'index' %}">Home Page>></a>
</div>
</div>
</div>
    {% endblock %}


</body>
</html>




  
  
  
  
